{% load static %}
<script type="text/javascript" src="{% static 'js/htmx.min.js '%}"></script>
<p>
    <!--Provide a link for students to access the homepage-->
    <a href="{% url 'main_quiz:index' %}">Homepage</a> -
    <!--If user is already logged in, display the name of the user-->
    {% if user.is_authenticated %}
        Hello, {{ user.first_name }}.
        <!--If users are authenticated, give them an option in the nav-bar to log out of the website.-->
        <a href="{% url 'main_quiz:practice_mode' %}">Practice Mode</a> -
        <a href="{% url 'main_quiz:quiz_mode' %}">Quiz Mode</a> - 
        <a href="{% url 'main_quiz:question_overview' %}">My Question Overview</a> -
        <a href="{% url 'main_quiz:teacher_overview' %}">Teacher Overview</a> -
        <a href="{% url 'main_quiz:all_leaderboards' %}">All Leaderboards</a> -
        <a href="#" onclick="document.getElementById('logout-form').submit()">Logout</a>
        <form method="post" action="{% url 'account_logout' %}" id="logout-form">
          {% csrf_token %}

        </form>
    <!--Otherwise, if they are not authenticated, display a link allwoing the user to log in to their existing account-->
    {% else %}
      <a href="{% url 'authentication:student_signup' %}">Student Sign Up</a> -
      <a href="{% url 'authentication:teacher_signup' %}">Teacher Sign Up</a> -
      <a href="{% url 'account_login' %}">Log In</a> 
    {% endif %}
</p>

{% block content %}{% endblock content %}