{% extends "base.html" %}
{% block content%}

<style>
table, th, td {
    border:1px solid black;
  }
  </style>

<h3>Question overview for {{ user.first_name }} {{ user.last_name }}</h3>
<table>
    <tr>
        <th>Times Table</th>
        <th>Average Percentage</th>
    </tr>
    {% for times_table, average_score in overview.items %}
        <tr>
            <td><a href="{% url 'main_quiz:start_quiz' times_table.times_table %}">{{ times_table.times_table }}</a></td>
            {% if average_score %}
                <td>{{ average_score }}%</td>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
    {% endfor %}
    
</table>
{% endblock content %}