{% extends "base.html" %}

{% block content %}
    <h1>Welcome {{ user.first_name }}!</h1>
    <h2>What would you like to do today?</h2>
    <table>
        <thead>
            <tr>
                <td><a href="{% url 'main_quiz:quiz_mode_preview' %}">Quiz</a></td>
                <td><a href="{% url 'main_quiz:practice_mode_preview' %}">Practice</a></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test your knowledge by choosing a times table!</td>
                <td>Do questions on your weak points!</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}